:root {
    /*#202c37*/
    --main-color: #2196f3;
    --main-color-overlay: #2196f380;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --main-border-radius: 10px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-ser;
    background-color: #f7f7f7;
    /* direction: rtl; */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* Start Navbar */

.icon-buger {
    font-size: 25px;
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/*End Navbar*/

header {
    position: relative;
    background-image: url('../image/cover2.jpg');
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

header::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
}

nav {
    position: fixed;
    width: 100%;
    z-index: 99999;
}

@media (max-width: 768px) {
    .header .container h4 {
        display: none;
    }
}


/* Start Header */

.header {
    position: relative;
    padding: 15px 0px;
    z-index: 1;
    background-color: none !important;
}

.header .Main-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    z-index: 1;
}

.header .container {
    font-size: 28px;
    font-weight: bold;
}

@media (max-width: 991px) {
    .header .container .logo {
        font-size: 25px;
    }
}

.header .main-nav {
    display: flex;
    overflow: hidden;
}

.header .menu {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -2 !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    background-color: #fff;
    border-bottom: 4px solid var(--main-color);
    padding-bottom: 25px;
}

@media (max-width: 991px) {
    .header .menu img {
        display: none;
    }
}

@media (max-width: 991px) {
    .header .menu {
        flex-direction: column;
    }
}

.header .main-nav>.linkss:hover .menu {
    z-index: 100 !important;
    top: calc(100% + 2px);
}

.header .menu ul>li>a {
    color: var(--main-color);
    font-weight: bold;
    display: block;
    padding: 15px;
    min-width: 240px;
    border-bottom: 1px solid #ccc;
}

.header .main-nav>li>a {
    padding: 0px 25px;
    color: #000;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    position: relative;
    overflow: hidden;
    -o-transition: var(--main-transition);
}

@media (max-width: 991px) {
    .header .main-nav>li>a {
        font-size: 10px;
        font-weight: bold;
    }
}

.header .main-nav>li>a:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

.header .main-nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0px;
    left: -400%;
    transition: var(--main-transition);
}

.header .main-nav>li>a:hover::before {
    left: 0px;
}


/* End Header */

.Langing-Page {}

.Langing-Page::before {}

.Langing-Page .container .text {
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 35%;
    transform: translate( -50%, -30%);
    -webkit-transform: translate( -50%, -30%);
    -moz-transform: translate( -50%, -30%);
    -ms-transform: translate( -50%, -30%);
    -o-transform: translate( -50%, -30%);
}

@media (max-width: 991px) {
    .Langing-Page .container .text {
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        -webkit-transform: translate( -50%, -50%);
        -moz-transform: translate( -50%, -50%);
        -ms-transform: translate( -50%, -50%);
        -o-transform: translate( -50%, -50%);
        font-size: 18px;
    }
}

.Langing-Page .container .text h1 {
    color: #fff;
}

.Langing-Page .container .text h3 {
    color: #fff;
}


/* Start About Me*/

.aboutMe {
    padding-top: var(--main-padding-top);
    /* padding-bottom: var(--main-padding-bottom); */
}

.aboutMe img {
    width: 100%;
    margin-top: 10px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}

.aboutMe .about-info {
    width: 100%;
    margin: 50px auto;
}

.aboutMe h2 {
    font-weight: bold;
}

.aboutMe p {
    letter-spacing: 1px;
}
.myimg{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    width: 10px;
    height: 50;
}


/* End About Me */


/* Start services */

.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.services .container h4 {
    text-align: center;
}

.services .container h1 {
    text-align: center;
    font-weight: bold;
}

.services .row {
    padding-top: var(--main-padding-top);
}

.services .row .services-box img {
    margin-bottom: 25px;
}

.services .services-box {
    margin: 5px;
    box-shadow: 0 2px 15px #ccc;
    padding: 25px;
    height: 480px;
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
}

.services .services-box p {
    letter-spacing: 1px;
}


/*End services*/


/*Start tools*/

.tools {
    /* padding-top: var(--main-padding-top); */
    padding-bottom: var(--main-padding-bottom);
    /* background-color: #ffe9fd; */
}

.tools h1,
.tools h4 {
    text-align: center;
}

.tools h1 {
    font-weight: bold;
}

.tools .tool img {
    width: 50px;
    max-width: 50%;
}

.tools .tool {
    padding-top: var(--main-padding-top);
}

.tools .tool .tool-box {
    text-align: center;
    padding: 15px;
    border-radius: var(--main-border-radius);
    box-shadow: 0 2px 15px #ccc;
    margin: 10px;
    height: 140px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
}

.tools .tool .tool-box:hover {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}

.tools .tool .tool-box h5 {
    margin-top: 10px;
}


/*End tools*/


/*Start myworks*/

.myworks {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.myworks h1,
.myworks h4 {
    text-align: center;
}

.myworks h1 {
    font-weight: bold;
}

.myworks .works {
    padding-top: var(--main-padding-top);
}

.myworks .works img {
    width: 100%;
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
}

.myworks .works .work-box {
    position: relative;
    height: 100%;
    margin-bottom: 25px;
    box-shadow: 0 2px 15px #ccc;
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.myworks .works .option-show {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.myworks .works .option-show a {
    font-weight: bold;
    margin-bottom: 10px;
}


/* .myworks .works .work-box::before {
    content: "";
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: var(--main-border-radius);
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
}

.myworks .works .work-box:hover::before {
    display: block;
} */

.myworks .works .sss {
    margin-top: 40px;
}

.myworks .works .work-box h5 {
    padding: 10px;
    margin-top: 15px;
}


/*End myworks*/


/* Start articles */

.articles {
    padding-bottom: var(--main-padding-bottom);
}

.articles .main-article {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .box {
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.articles .box:hover {
    box-shadow: 0 2px 15px #ccc;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.articles .box:hover .info i {
    position: relative;
    animation: arrow-right 1.5s linear infinite;
    -webkit-animation: arrow-right 1.5s linear infinite;
}

.articles .content,
.articles .info {
    padding: 10px;
}

.articles .content p {
    color: #666;
}

.articles .box img {
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.articles .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .info i {
    color: var(--main-color);
}

.articles .info a {
    color: var(--main-color);
    font-weight: bold;
}


/* End articles */


/* Start Skills*/

.title-skills {
    display: inline-block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 2px solid var(--main-color);
}

.Main-Skills .my-skills {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.Main-Skills .my-skills .skill {
    display: flex;
    background-color: #202c37;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 15px;
}

.Main-Skills .my-skills .skill img {
    max-width: 150px;
}

.Main-Skills .my-skills .skill h3 {
    color: #fff;
    font-weight: bold;
}


/*End Skills*/


/* Start features */

.features {
    padding-bottom: var(--main-padding-bottom);
}

.features-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .features-box .box {
    border: 1px solid #ccc;
    text-align: center;
    min-height: 600px;
}

.features .features-box .content {
    padding: 15px;
}

.features .features-box .content h2 {
    font-weight: bold;
    position: relative;
    font-size: 35px;
}

.features .features-box .content h2::after {
    content: "";
    width: 100px;
    position: absolute;
    height: 3px;
    background-color: var(--main-color);
    right: 35%;
    transform: translateY(-35%);
    bottom: 0;
    -webkit-transform: translateY(-35%);
    -moz-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    -o-transform: translateY(-35%);
}

.features .features-box .content p {
    color: #666;
}

.features .features-box .content button {
    padding: 10px 20px;
    position: relative;
    border: 2px solid var(--main-color);
    border-radius: 3px;
    color: var(--main-color);
    cursor: pointer;
    font-weight: bold;
    background-color: #Fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.features .features-box .box:hover button {}

.features .features-box .content button::before {
    content: "";
    position: absolute;
}

.features .features-box .img-overlay {
    position: relative;
    overflow: hidden;
}

.features .features-box .img-overlay::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: var(--main-color-overlay);
    height: 100%;
    left: 0;
    top: 0;
}


/* .features .features-box .img-overlay::before {
    content: "";
    position: absolute;
    transition: var(--main-transition);
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 150px 500px;
    border-color: transparent transparent #fff transparent;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
} */

.features .features-box .img-overlay::after {
    content: "";
    position: absolute;
    transition: var(--main-transition);
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 150px 500px;
    border-color: transparent transparent #fff transparent;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.features .features-box .img-overlay img {
    width: 100%;
    max-width: 100%;
}


/*End features*/


/*foooter*/

footer {
    background-color: #cccccc69;
    padding: 50px 0 20px;
}

footer .title-footer {
    margin-top: 15px;
}

footer h3 {
    text-transform: uppercase;
}

footer .icon {
    font-size: 28px;
    color: var(--main-color);
}

footer p {
    color: var(--main-color);
}

footer .copy-right {
    text-align: center;
}


/*foooter*/


/*btn*/

.scroll {
    position: fixed;
    right: 15px;
    transition: var(--main-transition);
    bottom: 15px;
    cursor: pointer;
    width: 50px;
    background-color: var(--main-color);
    height: 50px;
    color: #fff;
    text-align: center;
    display: none;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.scroll:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.scroll i {
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    color: var(--mainColor);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


/*btn*/


/*Start animation*/

@keyframes up-to-down {
    0%,
    100% {
        top: 0px;
    }
    50% {
        top: -50px;
    }
}

@keyframes buttom-top {
    0%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
}

@keyframes title-left {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    100% {
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

@keyframes title-right {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

@keyframes arrow-right {
    0%,
    100% {
        right: 0;
    }
    50% {
        right: 50px;
    }
}


/*End animation*/